.main-section {
    /* position: sticky; */
    background-image: url('../../assets/imgs/tarantino.png');
    height: 70vh;
    background-size: cover;
    overflow: hidden;
    

}

    /* nav {
        @include flex-center;
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;
    }

        ul {
            list-style: none;


            .li-items {
                a {
                    text-decoration: none;
                    color: $gray-color;
                    margin: 0 1rem;
                    font-size: 18px;
                    
                }
                
                img {
                    max-width: 10%;
                    max-height: 10%;
                   }

            }
        }

        .logo {
            margin-right: 2rem;
            font-family: $font-roboto;
            color: $secondary-color;
        }
    }
 */
